@font-face {
    font-family: Ukij Chiwer Kesme;
    src: url(assets/fonts/UKIJChiK.ttf);
}

#result_container{
    width: 100%;
    font-family: 'Microsoft YaHei',Arial,Helvetica,Sans-Serif;
}

#result_container td{
    padding: 5px;
    /* height: 150px; */
    /* height: 100% !important; */
    height: 100vh;
    word-wrap: break-word;
    width: 50%;
    vertical-align: top;
    display: inline-block;
}

.original_txt{

}

.translated_txt{
    background-color:rgb(247, 247, 247);
}
